 html, body {
    margin: 0;
    padding: 0;
}
 @font-face {
    font-family: 'Santa';
    src: url('assets/SantasMail.ttf');
}
h1, h2 {
    font-family: 'Santa', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    color: #FFF;
}
h2 {
    font-size: 1.2em;
}
img {
    position: absolute;
}
@keyframes snow {
  0%       { background-position: 0px, 0px, 0px;}
  50%      { background-position: 500px 500px, 200px 200px, 150px 150px;}
  100%     { background-position: 1000px 1000px, 400px 400px, 300px 300px;}
}
@keyframes floatingDogs {
    0%     { transform: rotate(0deg)  translateY(0px); }
    25%    { transform: rotate(7deg)  translateY(5px);  }
    50%    { transform: rotate(0deg)  translateY(10px);  }
    75%    { transform: rotate(-7deg)  translateY(5px);  }
    100%   { transform: rotate(0deg)  translateY(0px);  }
}
@keyframes modalSlideIn {
    0%     { transform: translateY(-100%); }
    100%   { transform: translateY(0);  }
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}   

#container{
    height: 100vh;
    background: url('assets/background.png') no-repeat; 
    background-position: 0% 0%;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}
/* Snow animation - thanks Nicky Christensen! */
#snow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    z-index: 0;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
header {
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 100%;
}
.header-col-one {
    width: 70%;
    padding: 0 5px;
}
.header-col-two {
    width: 30%;
    padding: 0 5px;
}
h1.game-status-info {
    float: left;
    width: 30%;
    font-size: 1.5em;
}
#lives {
    float: right;
    margin: 0;
    padding-top: 10px;
    position: relative;
    text-align: center;
}
#lives > img {
    position: relative;
    z-index: 100;
}
#game-area {
    display: flex;
    flex-direction: row;
    height: 88vh;
    width: 100%;
    z-index: 50;
}
#leftSide {
    height: 48%;  
    width: 48%;
    z-index: 50;
}
#new-puppy-face {
    position: absolute;
    top: 12%;
    left: 0;
}
#rightSide {
    height: 100%;
    width: 48%;
    border-left: 10px dotted #FFF;
    z-index: 50;
}
#rightSide > #new-puppy-face {
    margin-left: 48%;
}
img.item {
    z-index: 100;
    -webkit-animation: floatingDogs 2.5s linear infinite;
    -moz-animation: floatingDogs 2.5s linear infinite;
    -ms-animation: floatingDogs 2.5s linear infinite;
    animation: floatingDogs 2.5s linear infinite;
}
#audio-button {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    z-index: 100;
}
#audio-icon {
    position: absolute;
    top: 10px;
    left: 100%;
    height: 100%;
    width: 100%;
    background-size: cover;
}
#modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}
#modal-body {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 350px;
    background-color: #203F72;
    color: white;
    text-align: center;
    border-radius: 8px;
    z-index: 1000;
    -webkit-animation: modalSlideIn 0.3s linear;
    -moz-animation: modalSlideIn 0.3s linear;
    -ms-animation: modalSlideIn 0.3s linear;
    animation: modalSlideIn 0.3s linear;
}
.modal-button {
    background-color: #3498db;
    margin: 50px 10px 0 0;
    width: 150px;
    height: 50px;
    color: white;
    font-style: 'Helvetica Neue', Helvetica, sans-serif;
    border-radius: 8px;
    font-size: 1.2em;
    z-index: 1000;
}
@media screen and (max-width: 800px) {
    #modal-body {
        left: 12.5%;
        width: 75%;
        height: 220px;
    }
}